<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 class="text-white">Employee Details</h1>
        <div class="d-flex">
            <button type="button"  data-toggle="modal" data-target="#exampleModal" class="btn btn-success">Add employee</button>
        </div>
    </div>
</nav>

<table class= "table mt-3">
    <thead>
        <tr>
          <th scope="col">sr no.</th>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Salary</th> 
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employeeData; let i = index">
          <td>{{i+1}}</td>
            <td>{{emp.id}}</td>
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.mobile}}</td>
            <td>{{emp.salary}}</td>
            <td>
                <button class="btn btn-danger mx-3" (click)="deleteEmployee(emp)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Button trigger modal -->

   
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Detail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="formValue">
                <div class="form-group">
                  <label for="exampleInputEmail1">First Name</label>
                  <input type="text" formControlName="firstName"
                   class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter first name">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Last Name</label>
                  <input type="text" formControlName="lastName" 
                  class="form-control" id="exampleInputPassword1" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email Id</label>
                    <input type="emai" formControlName="email"
                     class="form-control" id="exampleInputPassword1" placeholder="Email Id">
                  </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mobile No.</label>
                    <input type="text" formControlName="mobile"
                     class="form-control" id="exampleInputPassword1" placeholder="mobile no.">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">salary</label>
                    <input type="text"  formControlName="salary" 
                     class="form-control" id="exampleInputPassword1" placeholder="salary">
                  </div>
              
              </form>


        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="postEmployeeDetail()" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>